# node_modules
/node_modules
# ignore folders
/.gitignore
/.github
# cache files
.cache
.idea
.vscode
.DS_Store
.toml
# log files and log folders
CHANGELOG.md
/results
coverage
# lock files
package-lock.json
yarn.lock
composer.lock
